# Reporte de analisis VI

## Creando nuevas variables

In [85]:
import pandas as pd

In [86]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')
# Usando el csv sobre escrito de la actividad 10

In [87]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.33,Departamento
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento

In [88]:
datos['Valor Bruto'] = (datos['Valor']) + (datos['Mantenimiento']) + (datos['Impuesto'])
datos.head(10)
# Crea una nueva columna al dataframe con los valores elegidos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento,1200.0
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.33,Departamento,1200.0
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0

In [89]:
datos['Valor m2'] = (datos['Valor']) / (datos['Area'])
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.500000,Departamento,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.000000,Casa,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.333333,Departamento,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.666667,Departamento,1030.0
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.142857,Departamento,1200.0
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.000000,Departamento,1618.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.333333,Casa,22000.0
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.384615,Casa,1000.0
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.333333,Departamento,1200.0
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.428571,Departamento,2216.0

In [90]:
datos['Valor m2'] = datos['Valor m2'].round(2)
datos.head(10)
# Redondear el valor con 2 decimales

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento,1200.0
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.33,Departamento,1200.0
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0

In [91]:
datos['Valor Bruto m2'] = ((datos['Valor Bruto']) / (datos['Area'])).round(2)
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado,Valor Bruto,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0,56.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0,80.67
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0,21.46
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento,1200.0,17.14
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0,32.36
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0,29.33
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0,15.38
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.33,Departamento,1200.0,33.33
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0,31.66

In [92]:
casa = ['Casa', 'Casa en condominio', 'Casas de villa']

In [93]:
datos['Agrupado'] = datos['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Departamento')
datos
# Usando lambda para clasificar en casa o departamento

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado,Valor Bruto,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0,56.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0,80.67
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0,21.46
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento,1200.0,17.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0,12.86,Departamento,1438.0,20.54
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0,29.63,Departamento,1175.0,43.52
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0,23.08,Departamento,2640.0,33.85
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0,29.17,Departamento,1946.0,40.54
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,0.0,42.86,Departamento,3760.0,53.71

## Ejercicio

In [94]:
import pandas as pd
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6]}, 
columns = ['Nombre', 'Edad', 'Sexo', 'Notas'])

In [95]:
alumnos['Rango Edad'] = alumnos['Edad'].apply(lambda x: 'Menor que 20 años' if x < 20 
        else ('Entre 20 y 40 años' if (x >= 20 and x <= 40) 
            else 'Mayor que 40 años'))
alumnos

   Nombre  Edad Sexo  Notas          Rango Edad
0     Ary    15    M    7.5   Menor que 20 años
1   Katia    27    F    2.5  Entre 20 y 40 años
2   Denis    56    M    5.0   Mayor que 40 años
3    Beto    32    M   10.0  Entre 20 y 40 años
4   Bruna    42    F    8.2   Mayor que 40 años
5    Dara    21    F    7.0  Entre 20 y 40 años
6  Carlos    19    M    6.0   Menor que 20 años
7   Alice    35    F    5.6  Entre 20 y 40 años

## Excluyendo variables

In [96]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado,Valor Bruto,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0,56.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0,80.67
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0,21.46
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento,1200.0,17.14
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0,32.36
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0,29.33
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0,15.38
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.33,Departamento,1200.0,33.33
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0,31.66

In [97]:
datos_aux = pd.DataFrame(datos[['Agrupado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])
datos_aux.head()
# Dataframe con las columnas agregadas

       Agrupado  Valor m2  Valor Bruto  Valor Bruto m2
0  Departamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2  Departamento     53.33       1210.0           80.67
3  Departamento     16.67       1030.0           21.46
4  Departamento     17.14       1200.0           17.14

In [98]:
del datos_aux['Valor Bruto']
datos_aux.head(10)
# del elimina la columna

       Agrupado  Valor m2  Valor Bruto m2
0  Departamento     42.50           56.50
1          Casa     70.00           70.00
2  Departamento     53.33           80.67
3  Departamento     16.67           21.46
4  Departamento     17.14           17.14
5  Departamento     26.00           32.36
6          Casa     29.33           29.33
7          Casa     15.38           15.38
8  Departamento     33.33           33.33
9  Departamento     21.43           31.66

In [99]:
datos_aux.pop('Valor Bruto m2')
# pop muestra lo que se borro

0        56.50
1        70.00
2        80.67
3        21.46
4        17.14
         ...
22840    20.54
22841    43.52
22842    33.85
22843    40.54
22844    53.71
Name: Valor Bruto m2, Length: 22845, dtype: float64

In [100]:
datos_aux.head(10)

       Agrupado  Valor m2
0  Departamento     42.50
1          Casa     70.00
2  Departamento     53.33
3  Departamento     16.67
4  Departamento     17.14
5  Departamento     26.00
6          Casa     29.33
7          Casa     15.38
8  Departamento     33.33
9  Departamento     21.43

In [101]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado,Valor Bruto,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0,56.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0,80.67
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0,21.46
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento,1200.0,17.14
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0,32.36
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0,29.33
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0,15.38
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.33,Departamento,1200.0,33.33
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0,31.66

In [102]:
#datos = datos.fillna({'Mantenimiento':0, 'Impuesto':0})

In [103]:
datos.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)
datos.head(10)
# drop elimina columnas seleccionadas, axis para indicar que es la columna, inplace para actualizar el dataframe

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Barranco,3,1,0,70,1200.0,0.0,0.0,17.14,Departamento
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
6,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
8,Departamento,Pachacámac,1,0,0,36,1200.0,0.0,0.0,33.33,Departamento
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento

In [104]:
datos.to_csv('alquiler_residencial.csv', sep = ';', index = False)
# index para no incluir los indices del nuevo dataframe en el original