# Reporte analisis IV

Selecciones y frecuencias

In [ ]:
import pandas as pd

In [3]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

In [ ]:
#Seleccione solamente los inmuebles clasificados con tipo'Departamento"

In [21]:
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0]
n1
# shape[] solo arroja el numero del dataframe en la posicion seleccionada

19532

In [ ]:
#Seleccione los inmuebles clasificados con tipos'Casa','Casa en condominio'y'Casa de villa'

In [12]:
seleccion = (datos['Tipo'] == 'Casa') | (datos['Tipo'] == 'Casa en condominio') | (datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
n2

2212

In [ ]:
#Seleccione los inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites

In [15]:
seleccion = (datos['Area'] >= 60) & (datos['Area'] <= 100)
n3 = datos[seleccion].shape[0]
n3

8736

In [ ]:
# Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000.00

In [19]:
seleccion = (datos['Cuartos'] >= 4) & (datos['Valor'] < 2000)
n4 = datos[seleccion].shape[0]
n4

41

In [20]:
print("No. de inmuebles clasificados con tipo 'Departamento' -> {}".format(n1))
print("No. de inmuebles clasificados con tipos 'Casa', 'Casa en condominio' y 'Casa en Villa' -> {}".format(n2))
print("No. de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> {}".format(n3))
print("No. de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000.00 -> {}".format(n4))

No. de inmuebles clasificados con tipo 'Departamento' -> 19532
No. de inmuebles clasificados con tipos 'Casa', 'Casa en condominio' y 'Casa en Villa' -> 2212
No. de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> 8736
No. de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2000.00 -> 41

# Ejercicios

In [23]:
import pandas as pd
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
'Aprobado': [True, False, False, True, True, True, False, False]},
columns = ['Nombre', 'Edad', 'Sexo', 'Notas', 'Aprobado'])
alumnos

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
1   Katia    27    F    2.5     False
2   Denis    56    M    5.0     False
3    Beto    32    M   10.0      True
4   Bruna    42    F    8.2      True
5    Dara    21    F    7.0      True
6  Carlos    19    M    6.0     False
7   Alice    35    F    5.6     False

In [ ]:
# Cree un DataFrame sólo con los estudiantes aprobados.

In [24]:
seleccion = alumnos['Aprobado'] == True
aprobados = alumnos[seleccion]
aprobados

  Nombre  Edad Sexo  Notas  Aprobado
0    Ary    15    M    7.5      True
3   Beto    32    M   10.0      True
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

In [ ]:
# Cree un DataFrame sólo con las estudiantes aprobadas.

In [27]:
seleccion = (alumnos['Aprobado'] == True) & (alumnos['Sexo'] == 'F')
aprobadas = alumnos[seleccion]
aprobadas

  Nombre  Edad Sexo  Notas  Aprobado
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

In [28]:
# Cree sólo una visualización de los alumnos con edades entre 10 a 20 años o con edad mayor/igual a 40 años.

In [32]:
seleccion = (alumnos.Edad > 10) & (alumnos.Edad < 20) | (alumnos.Edad >= 40)
alumnos[seleccion]

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
2   Denis    56    M    5.0     False
4   Bruna    42    F    8.2      True
6  Carlos    19    M    6.0     False